@font-face {
  font-family: 'TT Norms Pro Thin';
  src: url('/font/TTNormsPro-Thin.eot');
  src: local('/font/TT Norms Pro Thin'), local('/font/TTNormsPro-Thin'),
    url('/font/TTNormsPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('/font/TTNormsPro-Thin.woff2') format('woff2'),
    url('/font/TTNormsPro-Thin.woff') format('woff'),
    url('/font/TTNormsPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'TT Norms Pro Regular';
  src: url('/font/TTNormsPro-Regular.eot');
  src: local('/font/TT Norms Pro Regular'), local('/font/TTNormsPro-Regular'),
    url('/font/TTNormsPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/font/TTNormsPro-Regular.woff2') format('woff2'),
    url('/font/TTNormsPro-Regular.woff') format('woff'),
    url('/font/TTNormsPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro ThinItalic';
  src: url('/font/TTNormsPro-ThinItalic.eot');
  src: local('/font/TT Norms Pro Thin Italic'), local('/font/TTNormsPro-ThinItalic'),
    url('/font/TTNormsPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('/font/TTNormsPro-ThinItalic.woff2') format('woff2'),
    url('/font/TTNormsPro-ThinItalic.woff') format('woff'),
    url('/font/TTNormsPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('/font/TTNormsPro-ExtraLight.eot');
  src: local('/font/TT Norms Pro ExtraLight'), local('//font/TTNormsPro-ExtraLight'),
    url('/font/TTNormsPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('/font/TTNormsPro-ExtraLight.woff2') format('woff2'),
    url('/font/TTNormsPro-ExtraLight.woff') format('woff'),
    url('/font/TTNormsPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro Medium';
  src: url('/font/TTNormsPro-Medium.eot');
  src: local('/font/TT Norms Pro Medium'), local('/font/TTNormsPro-Medium'),
    url('/font/TTNormsPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('/font/TTNormsPro-Medium.woff2') format('woff2'),
    url('/font/TTNormsPro-Medium.woff') format('woff'),
    url('/font/TTNormsPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro ExtraBlack';
  src: url('/font/TTNormsPro-ExtraBlack.eot');
  src: local('//font/TT Norms Pro ExtraBlack'), local('/font/TTNormsPro-ExtraBlack'),
    url('/font/TTNormsPro-ExtraBlack.eot?#iefix') format('embedded-opentype'),
    url('/font/TTNormsPro-ExtraBlack.woff2') format('woff2'),
    url('/font/TTNormsPro-ExtraBlack.woff') format('woff'),
    url('/font/TTNormsPro-ExtraBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro Black';
  src: url('/font/TTNormsPro-Black.eot');
  src: local('//font/TT Norms Pro Black'), local('/font/TTNormsPro-Black'),
    url('/font/TTNormsPro-Black.eot?#iefix') format('embedded-opentype'),
    url('/font/TTNormsPro-Black.woff2') format('woff2'),
    url('/font/TTNormsPro-Black.woff') format('woff'),
    url('/font/TTNormsPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: whitesmoke;
  font-family: 'TT Norms Pro';
  font-weight: 200;
  font-style: normal;
}

body {
  padding: 20px 50px 30px 50px;
  background-color: hsl(0, 0%, 9%);
}

.text-decor {
  text-decoration: underline;
}

h2 {
  font-family: 'TT Norms Pro Medium';
  font-weight: 500;
  font-style: normal;
}

.font-button {
  font-family: 'TT Norms Pro Medium';
  font-weight: 500;
  text-transform: uppercase;
}

.border-r {
  border-radius: 20px;
  background-color: rgb(31, 31, 31);
  border: none;
}

.box-text {
  font-size: 18px;
}

.sliders {
  margin-top: 20px;
  display: flex;
  height: 80vh;
  justify-content: space-between;
}

.operating-princ {
  margin-top: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-text-b {
  margin-bottom: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-text-b:hover {
  border-bottom: 1px solid #bab9ff;
}

.header-page {
  font-size: 30px;
  text-align: center;
  padding: 10px 0 20px 0;
  text-transform: uppercase;
}

.form-block-input {
  width: 300px;
  background-color: #3a3a3a;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 15px;
}

.transparent {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}

.form-block-label {
  font-size: 18px;
  font-family: 'TT Norms Pro Medium';
}

.main-button {
  padding: 10px 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  color: black;
  text-align: center;
  margin-top: 20px;
}

.color {
  background-color: #bab9ff;
}

.psw-inp {
  position: relative;
}

.fa-fw {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.padd-lk {
  padding: 20px;
}

.padd-lk-2 {
  padding: 0;
}

.container-link {
  background-color: #1e1e1e;
  width: 300px;
  min-height: 100vh;
}

.container-link a {
  transition: all 0.3s ease-in;
}

.dimmed {
  filter: brightness(50%);
}

img {
  pointer-events: none;
}

.control-toolbar {
  padding: 10px 50px;
  background-color: #3a3a3a;
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.layout-row {
  padding: 10px 50px;
  min-height: 600px;
}
.error-text {
  color:  red;
  margin: 10px 0;
  font-style: italic;
}
.btn-buy {
  color: black;
  padding: 10px 30px;
  border-radius: 20px;
  position: absolute;
  top: 150px;
  left: 160px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'TT Norms Pro Black';
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: #bab9ff;
  z-index: 100;
  border: none;
}

.btn-c {
  padding: 5px 20px;
  background-color: #bab9ff;
  font-size: 18px;
  border-radius: 20px;
  color: black;
}
.e-create {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3a3a3a;
}
.cancel {
  margin-left: 10px;
  text-decoration: underline;
}
option{
  background-color: #1e1e1e;
}